<mat-toolbar class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">APP SCHENK-SANCHEZ</span>
  <span class="example-spacer"></span>
  <button class="btn btn-dark float-right" routerLink= "/list-empleados">Clientes</button>
  <button class="btn btn-dark float-right" routerLink= "/situacioniva">Situacion Frente al IVA</button>
  <button class="btn btn-dark float-right" routerLink= "/usuarios">Usuarios</button>
  <span class="example-spacer"></span>
  <button class="btn btn-dark btn-lg float-right example-icon favorite-icon" routerLink= "/login" arial-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

  <div class="backupOptions">
    <button  style = "background-color:rgb(253, 0, 0)" class ="btn btn-dark btn-lg float-right offset-sm-1 example-icon favorite-icon" (click)="restaurar()">Restaurar copia de seguridad <mat-icon>update</mat-icon></button> 
    <button  style = "background-color:rgb(58, 13, 180)" class ="btn btn-dark btn-lg float-right offset-sm-1 example-icon favorite-icon" (click)="generarbackup()">Crear copia de seguridad <mat-icon>verified_user</mat-icon></button> 
  </div>

  <div class="restaurar"> 
        <label for="myfile">Seleccionar archivo de restauración:</label>
        <input type="file" id="myfile" name="myfile">
  </div>