<mat-toolbar class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">APP SCHENK-SANCHEZ</span>
    <span class="example-spacer"></span>
    <button class="btn btn-dark float-right" routerLink= "/list-empleados">Clientes</button>
    <button class="btn btn-dark float-right" routerLink= "/situacioniva">Situacion Frente al IVA</button>
    <button class="btn btn-dark float-right" routerLink= "/usuarios">Usuarios</button>
    <span class="example-spacer"></span>
    <button class="btn btn-dark btn-lg float-right example-icon favorite-icon" arial-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>