<mat-toolbar class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">APP SCHENK-SANCHEZ</span>
  <span class="example-spacer"></span>
  <button class="btn btn-dark float-right" routerLink= "/list-empleados">Clientes</button>
  <button class="btn btn-dark float-right" routerLink= "/situacioniva">Situacion Frente al IVA</button>
  <button class="btn btn-dark float-right" routerLink= "/usuarios">Usuarios</button>
  <span class="example-spacer"></span>
  <button class="btn btn-dark btn-lg float-right example-icon favorite-icon" routerLink= "/login" arial-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container mt-4">
  <div class="card">
      <div class="card-body">
          <span class="h3">Listado de Clientes</span>
          <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
          <div id=h21>
          <h5 style="margin-top: 30px;" *ngIf="empleados.length == 0">No hay datos para mostrar</h5>
          <table id="excel-table" *ngIf="empleados.length > 0" class="table table-striped mt-5">
              <thead>
                <tr>
                  <th>DNI</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Direccion</th>
                  <th>Telefono</th>
                  <th>Ciudad</th>
                  <th>Situacion Frente al IVA</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empleado of empleados">
                  <td>{{ empleado.dni }}</td>
                  <td>{{ empleado.nombre }}</td>
                  <td>{{ empleado.apellido }}</td>
                  <td>{{ empleado.direccion }}</td>
                  <td>{{ empleado.celular }}</td>
                  <td>{{ empleado.ciudad }}</td>
                  <td>{{ empleado.iva }}</td>
                  <td>
                    <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editEmpleado/', empleado.id]"></i>
                    <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
      

      <!--<div>       <button printSectionId="h21"  arial-label="Example icon-button with heart icon">         </button>     </div>
        2)- Add the directive name in your button (ngxPrint),
        3)- Affect your ID to printSectionId
      -->
      <div>
        <button printSectionId="h21" class="btn btn-dark btn-lg float-right example-icon favorite-icon "  ngxPrint><mat-icon>print</mat-icon></button>
        <button  style = "background-color:rgb(28, 117, 28)" class ="btn btn-dark btn-lg float-right example-icon favorite-icon" (click)="exportexcel()"><mat-icon>insert_drive_file</mat-icon></button> 
      </div>