<div class="body">
  <i class="fas fa-6 fa-arrow-circle-left fa-lg text-info mr-2" style="font-size:50px; cursor:pointer" [routerLink]="['/login-empresas']"></i>  
  <div class="login">
        <img src="./assets/img/usuario.png" alt="" width="50%" height="80%">
        <br>
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <mat-form-field class="h3 mb-3 fw-normal" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput #usuario>
          </mat-form-field>
          <mat-form-field class="h3 mb-3 fw-normal" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput #contrasena>
          </mat-form-field>
          <br>
          <button (click)="ingresar(usuario.value,contrasena.value)" class="ancho" mat-raised-button mat-button color="primary">Ingresar</button>
    </div>
</div>
