<mat-toolbar class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">APP SCHENK-SANCHEZ</span>
  <span class="example-spacer"></span>
  <button class="btn btn-dark float-right" routerLink= "/list-empleados">Clientes</button>
  <button class="btn btn-dark float-right" routerLink= "/situacioniva">Situacion Frente al IVA</button>
  <button class="btn btn-dark float-right" routerLink= "/usuarios">Usuarios</button>
  <span class="example-spacer"></span>
  <button class="btn btn-dark btn-lg float-right example-icon favorite-icon" routerLink= "/login" arial-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Situaciones de IVA</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-iva">Agregar</button>
            <h5 style="margin-top: 30px;" *ngIf="situacionesIVA.length == 0">No hay datos para mostrar</h5>
            <table *ngIf="situacionesIVA.length > 0" class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let situacionIVA of situacionesIVA">
                    <td>{{ situacionIVA.codigo }}</td>
                    <td>{{ situacionIVA.descripcion }}</td>
                    <td>
                      <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editSituacionIVA/', situacionIVA.id]"></i>
                      <i (click)="eliminarSituacionIVA(situacionIVA.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>