<mat-toolbar class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">APP SCHENK-SANCHEZ</span>
  <span class="example-spacer"></span>
  <button class="btn btn-dark float-right" routerLink= "/list-empleados">Clientes</button>
  <button class="btn btn-dark float-right" routerLink= "/situacioniva">Situacion Frente al IVA</button>
  <button class="btn btn-dark float-right" routerLink= "/usuarios">Usuarios</button>
  <span class="example-spacer"></span>
  <button class="btn btn-dark btn-lg float-right example-icon favorite-icon" routerLink= "/login" arial-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Situaciones de IVA</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-iva">Agregar</button>
            <div id=h21>
            <h5 style="margin-top: 30px;" *ngIf="loading">No hay datos para mostrar</h5>
            <app-data-table [showBotones]="true" (loaded)="renderFinished()"></app-data-table>
            </div>
        </div>
        <div>
          <button printSectionId="h21" class="btn btn-dark btn-lg float-right example-icon favorite-icon"  ngxPrint><mat-icon>print</mat-icon></button> 
          <button  style = "background-color:rgb(28, 117, 28)" class ="btn btn-dark btn-lg float-right example-icon favorite-icon" (click)="exportexcel()"><mat-icon>insert_drive_file</mat-icon></button> 
        </div>
    </div>
  </div>

  