<mat-toolbar class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">APP SCHENK-SANCHEZ</span>
</mat-toolbar>
  
  <div class="container mt-4">
      <div class="card">
          <div class="card-body">
              <span class="h3">Empresas</span>
              <div>
              <h5 style="margin-top: 30px;" *ngIf="empresas.length == 0">No hay datos para mostrar</h5>
              <table *ngIf="empresas.length > 0" class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th>Nombre de empresa</th>
                      <th>Descripcion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let empresa of empresas; let i = index">
                      <td>{{ empresa.nombre }}</td>
                      <td>{{ empresa.descripcion }}</td>
                      <td>
                        <i class="fas fa-arrow-circle-right fa-lg text-info mr-2" style="cursor:pointer" (click)= "setEmpresa(i)" [routerLink]="['/login']"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
    </div>
