<mat-toolbar class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">APP SCHENK-SANCHEZ</span>
  <span class="example-spacer"></span>
  <button class="btn btn-dark float-right" routerLink= "/list-empleados">Clientes</button>
  <button class="btn btn-dark float-right" routerLink= "/situacioniva">Situacion Frente al IVA</button>
  <button class="btn btn-dark float-right" routerLink= "/usuarios">Usuarios</button>
  <span class="example-spacer"></span>
  <button class="btn btn-dark btn-lg float-right example-icon favorite-icon" routerLink= "/login" arial-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="contaduria">
    <button  style = "background-color:rgb(253, 0, 0)" class ="btn btn-dark btn-lg float-left offset-m-1 example-icon favorite-icon" (click)= "cambiarRouter(3)">Libro Diario <mat-icon>today</mat-icon></button> 
    <button  style = "background-color:rgb(58, 13, 180)" class ="btn btn-dark btn-lg float-left offset-m-1 example-icon favorite-icon" (click)= "cambiarRouter(4)">Diario Mayor <mat-icon>bar_chart</mat-icon></button>
    <button  style = "background-color:rgb(180, 13, 138)" class ="btn btn-dark btn-lg float-left offset-m-1 example-icon favorite-icon" (click)= "cambiarRouter(2)">Balance General <mat-icon> attach_money</mat-icon></button>
    <button  style = "background-color:rgb(180, 149, 13)" class ="btn btn-dark btn-lg float-left offset-m-1 example-icon favorite-icon" (click)= "cambiarRouter(1)">Registrar Asientos <mat-icon> list</mat-icon></button>
    <button  style = "background-color:rgb(20, 117, 11)" class ="btn btn-dark btn-lg float-left offset-m-1 example-icon favorite-icon" (click)= "cambiarRouter(5)">Plan de cuentas <mat-icon>account_balance</mat-icon></button>   
  </div>
  